:root {
  --white-col: #fff;
  --black-col: #000;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Century Gothic;
  src: url('../fonts/GOTHICB0.TTF') format('truetype');
  src: url('../fonts/Century\ Gothic.ttf') format('truetype');

}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  scroll-behavior: smooth;


}

.panel {
  width: 100%;
  height: 100%;
  background-color: var(--white-col);
  border-top: 1px solid #dad6d6ad;

}


.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  transition:  .5s ease-in-out;

}

.hero-section .hero-head {
  font-size: 56px;
  line-height: 64px;
  font-weight: 700;
  background-image: -webkit-linear-gradient(135deg, #ffffff 0%, #000000 5%, #000000 25%, #000000 45%, #ffffff 50%, #000000 55%, #000000 75%, #000000 95%, #fff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: .2s ease;
  background-size: 300% 300%;
  animation: gradient-move 12s linear infinite;
}

@keyframes gradient-move {
  0% {
    background-position: -0%;
  }

  25% {
    background-position: -50%;
  }

  50% {
    background-position: -100%;
  }

  75% {
    background-position: -150%;
  }

  100% {
    background-position: -200%;
  }
}


.hero-contact-btn a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #252424e3;
}

.hero-social-btn {
  padding: 10px 20px;
  border: 2px solid #363535d8;
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
  left: 40px;
}

.hero-social-btn i:hover {
  color: var(--black-col);
}

.hero-social-btn a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #252424e3;
  padding: 0 7px;
}


.hero-contact-btn1 {
  padding: 10px 30px;
  border: 2px solid #363535d8;
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
  right: 40px;
}


.hero-contact-btn {
  display: inline-block;
  height: 20px;
  line-height: 25px;
  overflow: hidden;
  position: relative;
  text-align: center;
  border-radius: 2px;
  transition: 0.9s;
  background-color: var(--white-col);
}

/* .hero-contact-btn:hover {background:#19c664;} */

/* hero-contact-btn UP */
.label-up {
  display: block;
  margin: 0px 5px;
  height: 100%;
  position: relative;
  top: 3%;
  transition: 0.3s;
}

.hero-contact-btn:hover .label-up {
  top: -100%;
}

/* hero-contact-btn DOWN */
.label-down {
  display: block;
  margin: 0px 30px;
  height: 100%;
  position: relative;
  top: -100%;
  transition: 0.3s;
}

.hero-contact-btn:hover .label-down {
  top: 0%;
}

/* arclan navbar */


.arclanNavbar {
  /* border-bottom: 1px solid #dad6d6ad; */
  z-index: 999;
  transition: top 0.3s ease;
  transition: .5s;
}

.navbar-brand {
  position: absolute;
  margin-top: 60px;
  transition: .5s;
}

.navbar-brand img {
  width: 60px;
}

.hamburger-img {
  width: 50px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* .navbar-box {
  position: absolute;
  width: 100%;
  padding: 10px 0px;
  z-index: 11;
  top: 0;
  transition: .5s;
} */

/* .stickyNavbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: var(--white-col);
  transition: .5s;

} */

#main-nav {
  background-color: var(--white-col);
  padding: 10px;
  text-align: center;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  transition: .5s ease-in-out;
  position: absolute;
}


#main-nav.sticky {
  position: fixed;
  top: 0;
  margin-bottom: 45px;
  transition: .5s ease-in-out;
}

.navbarOffsetMargin {
  padding-top: 45px;
  transition: .5s ease-in-out;
}




.arclanNavbar .nav-item .nav-link {
  font-size: 16px;
  color: var(--black-col);
  padding: 10px 18px;
  font-weight: 500;
}

.arclanNavbar .nav-item .nav-link:hover {
  color: #1f1e1ea8;
}

.arclanNavbar .nav-item .nav-link.active {
  font-size: 16px;
  color: var(--black-col);
  padding: 10px 18px;
  font-weight: 600;
}

.offcanvas-start {
  width: 320px;
}

#offcanvasmobile .nav-link {
  color: var(--black-col);
}

#offcanvasmobile .offcanvas-close {
  border-style: none;
  background-color: var(--white-col);
}

#offcanvasmobile .offcanvas-close {
  border-style: none;
  background-color: var(--white-col);
}

#offcanvasmobile .offcanvas-close i {
  font-size: 20px;
}

#offcanvasmobile  .nav-item .nav-link.active{
  font-size: 16px;
  color: var(--black-col);
  font-weight: 600;
}

/* projects section */

.hp-project-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-padding {
  padding: 5% 5%;
}

.latest-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.latest-projects img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-details-bottom {
  background-color: var(--white-col);
  padding: 10px 30px;
  position: absolute;
  bottom: -60px;
  width: 98%;
  transition: all .5s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.9px);
  -webkit-backdrop-filter: blur(9.9px);
  transition: all .3s ease-in-out;
}

.latest-projects:hover .project-details-bottom {
  bottom: 10px;
}

.project-details-bottom .client-name,
.place,
.type-work {
  font-size: 15px;
  margin-bottom: 0;
  color: #fff;
}

/* service section */

.hp-service-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hp-service-section .row>*{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.service-section {
  background-color: #fff !important;
  height: 100vh;
  z-index: 1111;
}

.hp-service-box {
  padding: 0px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: all .6s ease-in-out;
}


.service-dtls-box {
  position: absolute;
  bottom: -125px;
  width: 92%;
  padding: 10px 15px;
  background: var(--white-col);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: all .6s ease-in-out;
  overflow: hidden;
}

.service-dtls-box h4 {
  font-size: 20px;
  margin-bottom: 0;
}

.service-dtls-box img {
  width: 40px;
  margin-right: 20px;
  transition: all .3s ease-in-out;
}

.hp-service-box:hover .service-dtls-box {
  bottom: 15px;
}

.hp-service-box:hover {
  transform: scale(.98);
}

/* home contact section */

.hp-contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--white-col);
}

.hp-contact-section h2 {
  font-size: 44px;
  font-weight: 900;
}

.hp-contact-left {
  padding-right: 10px;
}

.hp-contact-left p {
  margin: 15px 0 30px;
}

.hp-sm-icons {
  margin-top: 30px;
}

.hp-sm-icons a {
  color: var(--black-col);
}

.hp-sm-icons i {
  font-size: 18px;
}

.hp-sm-icons a:not(:first-child) {
  margin-left: 15px;
}

.hp-contact-address a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: var(--black-col);
}

.hp-contact-right {
  margin-top: 15px;
  padding: 0px 30px;
}

.hp-contact-right input {
  width: 100%;
  margin-bottom: 20px;
  border-style: none;
  outline: none;
  border-style: none;
  border-radius: 0;
  border-bottom: 1px solid var(--black-col);
  padding: 5px;
}

.hp-contact-right textarea {
  width: 100%;
  border-style: none;
  outline: none;
  border-style: none;
  border-radius: 0;
  border-bottom: 1px solid var(--black-col);
  position: relative;
}

.hp-contact-right textarea::placeholder {
  position: absolute;
  bottom: 2px;
  left: 5px;
}


.hp-contact-button {
  background-color: #fff;
  padding: 8px 30px;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  margin-top: 20px;
  color: var(--black-col);
}

.hp-contact-button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.hp-contact-button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.copyright-section {
  position: absolute;
  bottom: 5px;
}

.hr-copyright {
  width: 100%;
}

.copyright-section p {
  font-size: 15px;
  letter-spacing: 1px;

}

.copyright-section a {
  color: var(--black-col);
  text-decoration: none;
}


/* media query */



@media only screen and (max-width:767px) {
  .panel .container {
    padding-left: 0px;
    padding-right: 0px;
    overflow-x: hidden;
  }

  .hero-section .hero-head {
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
  }

  .box-padding {
    padding: 0px;
  }

  .project-details-bottom {
    width: 95%;
    bottom: 10px;
  }

  .project-details-bottom .client-name,
  .place,
  .type-work {
    font-size: 12px;
  }

  .service-dtls-box {
    bottom: 5px;
  }

  .hp-service-box .service-main-card-img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 5px;
  }

  .hp-service-box {
    margin-bottom: 20px;
    padding: 0 5px;
    border-radius: 5px;
  }

  .service-dtls-box h4 {
    font-size: 14px;
  }

  .service-dtls-box img {
    width: 20px;
    margin-right: 10px;
  }

  .service-dtls-box {
    padding: 4px 10px;
  }

  .hp-contact-section {
    padding: 10px 20px;
  }

  .hp-contact-section h2 {
    font-size: 24px;
  }

  .hp-contact-left p {
    font-size: 14px;
    margin: 10px 0 15px;
  }

  .hp-contact-right {
    padding: 0px;
  }

  .hp-sm-icons {
    margin-top: 15px;
  }

  .copyright-section {
    bottom: 0px;
    padding: 10px;
  }

  .copyright-section p {
    font-size: 12px;
    text-align: center;
    margin-bottom: 0;
  }

  .hp-contact-right input {
    margin-bottom: 10px;
  }

  .hp-contact-right input:nth-child(3) {
    margin-bottom: 0px;
  }

  .hp-contact-button {
    margin-top: 15px;
    font-size: 16px;
    padding: 6px 30px;
  }

  .hero-social-btn {
    display: none;
  }

  .mouse {
    display: none;
  }

  .hero-contact-btn1 {
    bottom: 80px;
    right: 15px;
  }
}


@media (min-width:999px) and (max-width:1280px) {
  .box-padding {
    padding: 10%;
  }
}


/* about page */

.about-section {
  padding: 100px 10px;
}

.about-section .abt-left h4 {
  font-size: 20px;
  font-weight: 600;
}

.about-head-underline {
  width: 90%;
}

.abt-head-para {
  font-size: 24px;
}

.about-us-description {
  font-size: 16px;
  line-height: 28px;
  color: #756b66;
  margin-bottom: 25px;
}



.options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-width: 800px;
  width: calc(100% - 100px);
  height: 400px;
}


@media screen and (max-width: 718px) {
  .options {
    min-width: 420px;
  }

  .options .option:nth-child(5) {
    display: block;
  }
}

@media screen and (max-width: 638px) {
  .options {
    min-width: 400px;
  }

  .options .option:nth-child(4) {
    display: block;
  }
}

@media screen and (max-width: 558px) {
  .options {
    min-width: 360px;
  }

  .options .option:nth-child(3) {
    display: block;
  }
}

@media screen and (max-width: 478px) {

  .options .option:nth-child(2) {
    display: block;
  }
}

.options .option {
  position: relative;
  overflow: hidden;
  min-width: 40px;
  margin: 10px;
  background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
  background-size: contain;
  background-position: center;
  cursor: pointer;
  transition:.5s ease-in-out;
}

.options .option.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 600px;
  margin: 0px;
  border-radius: 5px;
  background-size: cover !important;
  background-repeat: no-repeat !important;

}

.options .option:not(.active) {
  flex-grow: 1;
  border-radius: 7px;
}


.about-service-section h3 {
  font-size: 24px;
}

.abt-service-card img {
  width: 60px;
}

.abt-service-card h4 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.team-section {
  padding: 0px 10px 150px;
  overflow-x: hidden;
}

@media (min-width: 1200px) {
  .team-section .container {
    max-width: calc((100% - 1140px) / 2 + 1140px) !important;
    margin-right: 0;
    padding-right: 0;
  }

}

@media (min-width: 1400px) {

  .team-section .container {
    max-width: calc((100% - 1320px) / 2 + 1320px) !important;
  }
}



.team-section h3 {
  font-size: 34px;
  font-weight: 600;
}

.team-box {
  margin: 10px 5px;
  padding: 20px 15px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  border-radius: 8px;
}

.team-img {
  width: 100%;
  height: 440px;
}

.team-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.team-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.team-description .team-dtls h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}

.team-description .team-dtls p {
  font-size: 14px;
  margin-bottom: 0;
}

.team-description .team-social-media i {
  margin-left: 20px;
  font-size: 20px;
  color: #666;
}

.team-slider .owl-nav {
  position: absolute;
  left: -50%;
  bottom: 50px;
  display: flex;
}

.team-slider .owl-nav .owl-prev {
  background: var(--black-col) !important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-slider .owl-nav .owl-prev:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.team-slider .owl-nav .owl-prev i {
  color: #fff;
  padding: 10px;
}

.team-slider .owl-nav .owl-next {
  background: var(--white-col) !important;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.team-slider .owl-nav .owl-next:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.team-slider .owl-nav .owl-next i {
  color: var(--black-col);
  padding: 10px;

}

.team-slider .owl-dot {
  width: 10px;

}

.owl-carousel .owl-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.team-slider.owl-carousel .owl-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #999999;
  transition: background-color 0.3s ease;
}

.team-slider.owl-carousel .owl-dot.active {
  background-color: #333333;
}


/* abt service section */

.about-main-service-section {
  padding: 100px 10px;
  background-image: url('../img/service-img.jpg');
  background-size: cover;
  min-height: 40vh;
  margin-bottom: 100px;
  background-position: center;
  position: relative;
  z-index: 11;

}

.about-main-service-section::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #00000059;
  z-index: -1;
}

.about-main-service-section h2 {
  font-size: 44px;
  line-height: 50px;
  font-weight: 600;
  color: var(--white-col);
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.service-cards {
  padding: 30px 20px;
  border-radius: 5px;
  background-color: var(--white-col);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  margin-bottom: 20px;

}

.service-cards img {
  width: 50px;
}

.service-cards h4 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  margin-top: 10px;
}

.service-cards p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}



@media only screen and (min-width:767px) {
  .owl-carousel .owl-dots {
    display: none;
  }
}

@media only screen and (max-width:767px) {
  .team-img {
    width: 100%;
    height: 320px;
  }

  .team-section h3 {
    font-size: 24px;
  }

  .about-main-service-section {
    margin-bottom: 50px;
  }
}

/* page banner */

.banner-section {
  margin-top: 80px;
}

.banner-section .container {
  padding: 150px 80px;
  min-height: 300px;
  background-image: url("../img/banner/banner-2.1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  position: relative;
  z-index: 11;
}

.banner-section .container ::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff26;
  z-index: -1;
}

.banner-2 .container{
  background-image: url("../img/banner/banner-5.jpg");
}
.banner-3 .container{
  background-image: url("../img/banner/banner-4.jpg");
}
.banner-4 .container{
  background-image: url("../img/banner/banner-8.jpg");
}
.banner-5 .container{
  background-image: url("../img/banner/banner-6.jpg");
}




.breadcrumb-section h3 {
  font-size: 44px;
  font-weight: 900;
}

.breadcrumb-section .breadcrumb-item a {
  color: #756b66;
  text-decoration: none;
}

.breadcrumb-section .breadcrumb-item a:not(.active) {
  color: var(--black-col);
  font-weight: 600;
}


/* contact page */

.contact--form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--white-col);
  padding: 100px 10px;
}

.contact--form-section h2 {
  font-size: 44px;
  font-weight: 900;
}




div .mouse {
  left: 50%;
  transform: translateY(0%) rotate(45deg);
  opacity: 0;
  margin-bottom: 10px;
}

@keyframes scrolldown {
  0% {
    transform: translateY(20%) rotate(45deg);
    opacity: 0.7;
  }

  50% {
    transform: translateY(0%) rotate(45deg);
    opacity: 0.2;
  }

  100% {
    transform: translateY(20%) rotate(45deg);
    opacity: 0.7;
  }
}


/* project page */

.project-filter-section {
  padding: 100px 10px;
}

.project-nav-tab-ul {
  display: flex;
  list-style: none;
  padding-left: 0px;
  transition: all .1s ease-in;
}

.project-nav-tab-ul li:not(:first-child) {
  margin-left: 40px;
}

.project-nav-tab-ul li {
  transition: all .1s ease-in;
}

.project-nav-tab-ul li a {
  text-decoration: none;
  font-size: 18px;
  color: var(--black-col);
  font-weight: 500;
  position: relative;
  transition: all .1s ease-in;
  cursor: pointer;


}

.project-nav-tab-ul li a::before {
  content: '';
  width: 0px;
  height: 3px;
  background-color: #756b66;
  position: absolute;
  left: -5px;
  bottom: -5px;
  border-radius: 20px;
  transition: all .3s ease-in;
  visibility: hidden;
}

.project-nav-tab-ul li a:hover::before {
  width: 20px;
  height: 3px;
  visibility: visible;

}

.project-nav-tab-ul li a.active::after {
  content: '';
  width: 20px;
  height: 3px;
  background-color: #756b66;
  position: absolute;
  left: -5px;
  bottom: -5px;
  border-radius: 20px;
  transition: all .1s ease-in;
}

.project-boxes {
  display: grid;
  transition: .3s ease-in;
  margin-top: 50px;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px 2px;
  transition: opacity 0.3s ease-in-out;
}


.project-box {
  width: 100%;
  position: relative;
  opacity: 1;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  z-index: 11;
}

.project-box:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000085;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}



.project-box a {
  text-decoration: none;

}

.project-box .project-img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-radius: 2px;
}


.project-desc{
  position: absolute;
  padding: 0px 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  z-index: 11;
}
.project-box:hover::after{
  opacity: 1;
}
.project-box:hover .project-desc{
  opacity: 1;
}


.project-box .project-desc .project-dtls{
  display: flex;
    flex-direction: column;
    align-items: center;
}


.project-box .project-desc .project-dtls .project-name {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
  color: var(--white-col);
}

.project-box .project-desc .project-dtls .project-type {
  font-size: 14px;
  font-weight: lighter;
  color: var(--white-col);
  letter-spacing: 1px;
  text-align: center;
}

.project-box .project-desc .project-dtls img{
  width: 18px;
  filter: invert(100%);
}

@media only screen and (max-width:767px) {
  .project-boxes {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

}


/* project inner page */

.projet-inner-pg-head-section {
  padding: 50px 10px 80px;
  margin-top: 80px;
}

.projet-inner-pg-head-section .head {
  font-family: 'century gothic';
  font-weight: 500;
  font-size: 60px;
}

.project-inner-images .first-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
}

.project-inner-detail-section {
  padding: 100px 10px;
}

.project-inner-detail-section .details-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-inner-detail-section .details-box h4 {
  font-size: 18px;
  font-weight: 900;
  color: var(--black-col);
}

.project-inner-detail-section .details-box p {
  font-size: 16px;
  font-weight: 500;
  color: var(--black-col);
}


/* project slider section */

.project-slider-section {
  overflow: hidden;
  padding: 0 0 100px;
}

.project-slider .slider-item {
  width: 100%;
  height: 500px;
  margin: 10px;
}


.project-slider .slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-slider .slick-prev {
  left: unset;
  top: unset;
  bottom: -10px;
  right: 68px;
  z-index: 11;
  background-image: url('../img/prev-arrow-slider.png');
  background-size: contain;
  height: 50px;
  width: 50px;
}

.project-slider .slick-next {
  left: unset;
  top: unset;
  bottom: -10px;
  right: 14px;
  z-index: 11;
  background-image: url('../img/next-arrow-slider.png');
  background-size: contain;
  height: 50px;
  width: 50px;
}

.project-slider .slick-next:before {
  opacity: 0;
}

.project-slider .slick-prev:before {
  opacity: 0;
}


/* next previous buttons section */

.next-prev-project-section .container {
  padding: 40px 0;
}

.next-prev-project-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.next-prev-project-btns img {
  width: 25px;
  height: 25px;
}

.next-prev-project-btns img:hover {
  opacity: 8;
}

.next-prev-project-btns a {
  color: var(--black-col);
  text-decoration: none;
  font-weight: 600;
}

.next-prev-project-btns p {
  font-size: 16px;
}

.mobile-hr {
  display: none;
}


/* testimonial page */

.testimonial-section {
  padding: 100px 10px;
}

.testimonial-section .testimonial-box {
  padding: 20px 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  border:1px solid #97919147;
}

.testimonial-box .top {
  display: flex;
  align-items: center;
}

.testimonial-box .top img {
  width: 100px;
}

.testimonial-box .top .testimonial-account-dtls {
  margin-left: 20px;
}

.testimonial-box .top .testimonial-account-dtls h4 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.testimonial-box .content {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 400;
}

.testimonial-box .content p {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 300;
}

.testimonial-box .content a {
  font-weight: 600;
  color: var(--black-col);
  text-decoration: none;
}

/* footer section */

footer {
  padding: 0px 0px 0px;
}

.ftr-contact-form h3 {
  font-size: 26px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #423e3e;
}

@media (min-width: 1200px) {
  footer .container {
    max-width: calc((100% - 1140px) / 2 + 1140px) !important;
    margin-left: 0;
    padding-left: 0;
  }

}

@media (min-width: 1400px) {

  footer .container {
    max-width: calc((100% - 1320px) / 2 + 1320px) !important;
  }
}

.ftr-background-img {
  background-image: url('../img/archieture.jpg');
  width: 100%;
  height: 400px;
  background-size: cover;
  position: relative;
}

.ftr-contact-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ftr-contact-col .ftr-contact-form {
  width: 100%;
}

.ftr-contact-form .input-form {
  position: relative;

}

.ftr-contact-form .input-form input {
  width: 90%;
  bottom: 5px;
  left: 10px;
  padding: 5px 10px;
  font-size: 15px;
  background-color: #00000000;
  border-style: none;
  border-radius: 0;
  border-bottom: 1px solid #727272;
  margin-bottom: 25px;
  color: #727272;
  outline: none;
}

.ftr-contact-form .input-form textarea {
  width: 90%;
  padding: 5px 10px;
  font-size: 15px;
  background-color: #00000000;
  border-style: none;
  border-radius: 0;
  border-bottom: 1px solid #727272;
  margin-bottom: 25px;
  color: #727272;
  outline: none;
}

.ftr-contact-form .input-form input::placeholder {
  color: #727272;
}

.ftr-contact-form .input-form textarea::placeholder {
  color: #727272;
}

.ftr-contact-form button {
  padding: 8px 40px;
  background: #fff;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #727272;
}

.ftr-contact-form button:hover{

}
.ftr-sm-section {
  padding: 20px 10px;
  background-color: #000000b8;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: end;
}

.ftr-sm-section i {
  color: #d3d3d3;
  font-size: 20px;
  margin: 0 15px;
}

.ftr-sm-section a:last-child {
  margin-right: 30px;
}

.footer-copyright-section {
  padding: 15px 0;
}

.footer-copyright-section .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-copyright-section .container .copyrigts-para {
  font-size: 15px;
  color: var(--black-col);
}

.footer-copyright-section .container .copyrigts-para p {
  margin-bottom: 0;
}

.footer-copyright-section .container .copyrigts-para a {
  color: var(--black-col);
  text-decoration: none;
}

.footer-copyright-section .container .ftr-links a {
  color: var(--black-col);
  text-decoration: none;
  padding-left: 10px;
  font-size: 15px;
}


.contact-map iframe {
  width: 100%;
  height: 320px;
  border-radius: 10px;
  margin-bottom: 60px;
}





/* media query */


@media only screen and (max-width:767px) {
  .banner-section {
    margin-top: 50px;
    padding: 10px;
  }

  .banner-section .container {
    min-height: unset;
    padding: 50px 20px 40px;
  }

  .breadcrumb-section h3 {
    font-size: 28px;
    margin-bottom: 0px;
  }

  .about-section {
    padding: 30px 10px;
  }

  .about-section .abt-left h4 {
    font-size: 18px;
  }

  .abt-head-para {
    font-size: 16px;
  }

  .about-head-underline {
    width: 100%;
    margin: 0;
  }

  .options {
    height: 200px;
  }

  .ftr-contact-form h3 {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
  }

  .ftr-contact-form .input-form input {
    width: 100%;
  }

  .ftr-contact-form .input-form textarea {
    width: 100%;

  }

  .ftr-contact-form {
    margin-bottom: 30px;
  }

  .ftr-background-img {
    height: 200px;
  }

  .ftr-sm-section a:last-child {
    margin-right: 0px;
  }

  .footer-copyright-section .container div:nth-child(2) {
    order: 1;
  }

  .footer-copyright-section .container div:nth-child(1) {
    order: 2;
  }

  .footer-copyright-section .container .ftr-links {
    display: flex;
    justify-content: center;
    font-size: 14px;
    display: none;
  }

  .footer-copyright-section .container .copyrigts-para {
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
  }

  .contact--form-section {
    padding: 30px 10px;
  }

  .contact--form-section h2 {
    font-size: 24px;
  }

  .contact-map iframe {
    height: 200px;
    margin-bottom: 0px;
  }

  .footer-copyright-section {
    padding: 5px 0 10px;
  }


  .testimonial-section {
    padding: 50px 10px;
  }

  .testimonial-section .testimonial-box {
    padding: 20px 15px;
    margin-bottom: 20px;
  }

  .testimonial-box .top img {
    width: 80px;
  }

  .testimonial-box .top .testimonial-account-dtls h4 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 0;
  }

  .testimonial-account-dtls h6 {
    font-size: 14px;
  }

  .project-filter-section {
    padding: 30px 10px 50px;
  }

  .project-nav-tab-ul {
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 10px 10px 20px;
  }

  .project-filter-section .project-nav-tab-ul::-webkit-scrollbar {
    width: 5px !important;
  }

  .project-filter-section .project-nav-tab-ul::-webkit-scrollbar-track {
    background: #5c5b589f;
    border-radius: 10px;
  }

  .project-filter-section .project-nav-tab-ul::-webkit-scrollbar-thumb {
    background: #e2dfdf;
    border-radius: 10px;
    opacity: 1;
  }

  .projet-inner-pg-head-section {
    padding: 50px 10px;
    margin-top: 20px;
  }

  .projet-inner-pg-head-section .head {
    font-size: 32px;
  }

  .project-inner-images .first-img {
    height: 40vh;
  }

  .project-inner-detail-section {
    padding: 50px 10px 30px;
  }

  .project-slider .slider-item {
    height: 320px;
    margin: 0px;
  }

  .project-slider-section .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .project-slider-section {
    padding-bottom: 40px;
  }

  .next-prev-project-section .container {
    padding: 0px 0;
  }

  .next-prev-project-btns {
    padding: 10px;
    margin-bottom: 0px;
  }

  .next-prev-project-btns p {
    display: none;
  }

  .mobile-hr {
    display: block;
  }

  .next-prev-project-section {
    margin-bottom: 40px;
  }
}


/* blog page */

.blog-pg-section {
  padding: 100px 10px;
}

.cartagory-card a {
  color: var(--black-col);
  text-decoration: none;
}

.blog-card {
  border-style: none;
  border-style: none;
  margin-bottom: 30px;
}
.blog-card img{
  border-radius: 10px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.blog-card  .card-title{
  font-size: 24px;
  font-weight: 500;
}
.blog-card .blog-btn {
  color: var(--black-col);
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;


}

.blog-pagination .page-item.active .page-link {
  background-color: var(--black-col);
  color: var(--white-col);
  border-style: none;
}

.blog-pagination .page-item .page-link {
  color: var(--black-col);
  border-style: 1px solid var(--black-col);
}

.blog-pagination .page-item {
  border: 1px solid var(--black-col);
}

.blog-pagination .page-link:focus {
  box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%);
}


/* blog-details section */

.blog-details-section .blog-main-img{
  padding: 80px 10px 50px;
}


.blog-details-section .blog-main-img img{
  width: 100%;
  height: 440px;
  object-fit: cover;

}

.blog-details-section .blog-desc{
  padding: 20px 10px 60px;
}

@media only screen and (max-width:767px) {
  .blog-pg-section {
    padding: 50px 10px;
  }
  .blog-details-section .blog-main-img{
    padding: 40px 10px;
  }
  .blog-details-section .blog-main-img img{
    height: 220px;
  }
  .blog-details-section .blog-desc{
    padding: 10px 10px 40px;
  }
}



/* career poage */
.career-section {
  padding: 100px 10px;
}

.career-box {
  border-top: 1px solid #000;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.career-box:last-child {
  border-bottom: 1px solid #000;
}

.job-features {
  display: flex;
  flex-wrap: wrap;
}

.job-feature-box {
  padding: 6px 20px;
  border: 2px solid #353636;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;

}

.job-feature-box .job-post {
  font-size: 20px;
}

.job-feature-box i {
  font-size: 20px;
  margin-right: 10px;
}

.job-feature-box p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0px;
}

.career-box .career-box-right a {
  text-decoration: none;
  color: var(--black-col);
  font-weight: 600;
  font-size: 18px;

}

.career-box .career-box-right a img {
  width: 15px;

}

.career-modal .modal-content {
  padding: 30px 30px 50px;
  border-radius: 10px;
}

.career-modal h3 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 40px;
}

.career-input-box {
  position: relative;
  margin-bottom: 20px;

}

.career-input-box input {
  width: 100%;
  padding: 7px;
  border: 2px solid #000;
  border-radius: 5px;

}


.career-input-box .career-label {
  position: absolute;
  background-color: var(--white-col);
  bottom: 9px;
  left: 10px;
  transition: all .3s ease-in-out;
  padding: 0 10px;
}

.career-label.active {
  bottom: 28px;
}

.career-modal .submit-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.career-modal .submit-btn a {
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
  color: var(--black-col);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;

}




@media only screen and (max-width:767px) {
  .career-section {
    padding: 50px 10px;
  }

  .career-box {
    flex-direction: column;
  }

  .career-box .career-box-right {
    margin-top: 20px;
  }

  .job-feature-box i {
    font-size: 16px;
  }

  .job-feature-box p {
    font-size: 12px;
  }

  .job-feature-box {
    margin-bottom: 10px;
  }
}


/* testimonial detail page */

.testimonial-details-section {
  padding: 100px 10px;
}

.testimonial-author {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-author h4 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 0;
}

.testimonial-author p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.testimonial-details-section .testimonial-content {
  font-size: 16px;
  line-height: 24px;
}


.testimonial-images{
  margin-top: 60px;
  padding: 10px 20px;
  margin-bottom: 60px;
}
/* ---- grid ---- */



/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  width: 100%;
}




@media only screen and (max-width:767px) {
  .testimonial-details-section{
    padding: 50px 10px;
  }
}



/* scroll top button */
#scrollTopButton {
  display: inline-block;
  background-color: #000000;
  color: var(--white-col);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#scrollTopButton:hover {
  cursor: pointer;
  background-color: #333;
}
#scrollTopButton:active {
  background-color: #555;
}
#scrollTopButton.show {
  opacity: 1;
  visibility: visible;
}



/* loader */


.loader-bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 1;
  background-color: rgb(255, 255, 255);
  z-index: 99;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1111;
}


.loader {
  height: 5px;
  width: 5px;
  color: #000000;
  box-shadow: -10px -10px 0 5px,
              -10px -10px 0 5px,
              -10px -10px 0 5px,
              -10px -10px 0 5px;
  animation: loader-38 6s infinite;
}

@keyframes loader-38 {
  0% {
    box-shadow: -10px -10px 0 5px,
                -10px -10px 0 5px,
                -10px -10px 0 5px,
                -10px -10px 0 5px;
  }
  8.33% {
    box-shadow: -10px -10px 0 5px,
                10px -10px 0 5px,
                10px -10px 0 5px,
                10px -10px 0 5px;
  }
  16.66% {
    box-shadow: -10px -10px 0 5px,
                10px -10px 0 5px,
                10px 10px 0 5px,
                10px 10px 0 5px;
  }
  24.99% {
    box-shadow: -10px -10px 0 5px,
                10px -10px 0 5px,
                10px 10px 0 5px,
                -10px 10px 0 5px;
  }
  33.32% {
    box-shadow: -10px -10px 0 5px,
                10px -10px 0 5px,
                10px 10px 0 5px,
                -10px -10px 0 5px;
  }
  41.65% {
    box-shadow: 10px -10px 0 5px,
                10px -10px 0 5px,
                10px 10px 0 5px,
                10px -10px 0 5px;
  }
  49.98% {
    box-shadow: 10px 10px 0 5px,
              10px 10px 0 5px,
              10px 10px 0 5px,
              10px 10px 0 5px;
  }
  58.31% {
    box-shadow: -10px 10px 0 5px,
                -10px 10px 0 5px,
                10px 10px 0 5px,
                -10px 10px 0 5px;
  }
  66.64% {
    box-shadow: -10px -10px 0 5px,
                -10px -10px 0 5px,
                10px 10px 0 5px,
                -10px 10px 0 5px;
  }
  74.97% {
    box-shadow: -10px -10px 0 5px,
                10px -10px 0 5px,
                10px 10px 0 5px,
                -10px 10px 0 5px;
  }
  83.3% {
    box-shadow: -10px -10px 0 5px,
                10px 10px 0 5px,
                10px 10px 0 5px,
                -10px 10px 0 5px;
  }
  91.63% {
    box-shadow: -10px -10px 0 5px,
                -10px 10px 0 5px,
                -10px 10px 0 5px,
                -10px 10px 0 5px;
  }
  100% {
    box-shadow: -10px -10px 0 5px,
                -10px -10px 0 5px,
                -10px -10px 0 5px,
                -10px -10px 0 5px;
  }
}

